@model WebRegionalismos.Models.Idioma

@{
                /**/

                ViewBag.Title = "Editar";
                Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2 class="titulo">
    Editar Idioma
</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-style-3">
        <form>
            <fieldset>
                <legend>Complete la información según corresponda</legend>

                <div>
                    @Html.Label(WebRegionalismos.Clases_Compartidas.VariablesGlobales.labelIdioma, htmlAttributes: new { @class = "required" })

                    @Html.EditorFor(model => model.IdIdioma, new { htmlAttributes = new { @class = "input-field" } })
                </div>

                <div>
                    @Html.Label(WebRegionalismos.Clases_Compartidas.VariablesGlobales.labelNombreIdioma, htmlAttributes: new { @class = "required" })

                    @Html.EditorFor(model => model.DescripcionIdioma, new { htmlAttributes = new { @class = "input-field" } })
                </div>
            </fieldset>
        </form>
    </div>
}



<div>
    <div>
        <table class="botonNuevo">
            <tbody>
                <tr>
                    <td>
                        <button type="submit" value="Guardar" class="botonGuardarSombreado">
                            Guardar
                        </button>
                    </td>
                    <td>
                        <button class="botonVolverSombreado" onclick="location.href='@Url.Action("Index", "Idioma")'">
                            Volver
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@Html.Partial("~/Views/Shared/_PiePagina.cshtml")
